* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
  
    --white: #fff;

    --title: #181818;
    --text: #474747;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}